<div class="container">
	<h1>Nuevo usuario</h1>
	<%= render 'form' %>

	<%= link_to 'Back', users_path %>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$('#new_user').bootstrapValidator({
	    fields: {
	        nombre: {
	            validators: {
	                notEmpty: {
	                },
	                stringLength:{
	                  max: 45,
	                }
	            }
	        },
	        edad: {
	            validators: {
	                integer: {
	                },
	                notEmpty: {
	                },
	                stringLength:{
	                  max: 5,
	                }
	            }
	        },
	        birthdate: {
                validators: {
                    notEmpty: {},
                    date: {
                        format: 'DD/MM/YYYY',
                    }
                }
		    },
	    }
	})
	.on('success.form.bv', function(e) {
	  e.preventDefault(); 
	});
    $('#birthdate').change(function(){
    	$('#new_user').bootstrapValidator('revalidateField', 'birthdate');
    });
});

</script>