<!DOCTYPE html>
<html>
<head>
  <title>Tornilleria</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script type="text/javascript">
$(document).ready(function(){
  Waves.displayEffect();
  $('input[type=text]').each(function(index, element) {
    if($(element).val().length > 0) {
      $(this).siblings('label, i').addClass('active');
    }
  });
});
</script>
</body>
</html>
